<app-spinner class="loading position-fixed w-100" style="top:0px;z-index: 5" mode="indeterminate" *ngIf="loading">
</app-spinner>
<div class="container-fluid p-0">
  <div class="row m-0 px-2">
    <div class="col-12 border-bottom px-3 py-2">
      <span class="h2 text-clr text-uppercase font-weight-light">
        Languages
      </span>
    </div>
    <div class="col-12 p-3">
      <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
        <label class="btn btn-info font-13 px-2 py-1 l-h-n radius-0"(click)="fetchMenu()" [class.active]="LanguageType == 'menuLanguages'">
          <input type="radio" name="options" id="option1" autocomplete="off" checked> Menus
        </label>
        <label class="btn btn-info font-13 px-2 py-1 l-h-n" (click)="fetchItem('name')" [class.active]="LanguageType == 'itemLanguages' && itemType != 'description'">
          <input type="radio" name="options" id="option2" autocomplete="off"> Menu Items Name
        </label>
        <label class="btn btn-info font-13 px-2 py-1 l-h-n" (click)="fetchItem('description')" [class.active]="itemType == 'description'">
          <input type="radio" name="options" id="option2" autocomplete="off"> Menu Items description
        </label>
        <label class="btn btn-info font-13 px-2 py-1 l-h-n" (click)="fetchSizeVarient()" [class.active]="LanguageType == 'sizeVariantLanguages'">
          <input type="radio" name="options" id="option3" autocomplete="off"> Size Varients
        </label>
        <label class="btn btn-info font-13 px-2 py-1 l-h-n" (click)="fetchAddition()" [class.active]="LanguageType == 'additionLanguages'">
          <input type="radio" name="options" id="option4" autocomplete="off"> Additions
        </label>
        <label class="btn btn-info font-13 px-2 py-1 l-h-n radius-0" (click)="fetchAdditionVarient()" [class.active]="LanguageType == 'additionVariantLanguages'">
          <input type="radio" name="options" id="option5" autocomplete="off"> Additions Varients
        </label>
      </div>
    </div>
    <div class="col-12 mb-4 px-3">
      <div class="w-100 h-100 rounded position-relative">
        <div>
          <table class="text-center w-100 bg-white">
            <thead>
              <tr class="text-dark x-small-text font-weight-bold">
                <th scope="col" class="p-1 border text-capitalize">{{itemType}}</th>
                <th scope="col" class="p-1 border" *ngFor="let l of languages">{{l?.name}}</th>
                <!-- <th scope="col" class="p-1 border">Action</th> -->
              </tr>
            </thead>
            <tbody class="text-dark text-capitalize">
              <tr class="x-small-text" *ngFor="let e of entity">
                <td class="border">
                  <span *ngIf="itemType != 'description'">{{e?.name || e?.type}}</span>
                  <span *ngIf="itemType == 'description'">{{e?.description}}</span>
                </td>
                <td class="border" *ngFor="let l of e.languages">
                    <form>
                        <div class="input-group border-0">
                            <input *ngIf="LanguageType != 'additionLanguages'" (change)="CreateAndUpdate(e,l)" [ngModelOptions]="{standalone: true}" type="text" (input)="l.btnDisable = false" [(ngModel)]="l.name" class="border-0 text-center col px-2 position-absolute">
                            <input *ngIf="LanguageType == 'additionLanguages'" (change)="CreateAndUpdate(e,l)" [ngModelOptions]="{standalone: true}" type="text" (input)="l.btnDisable = false" [(ngModel)]="l.type" class="border-0 text-center col px-2 position-absolute">
                            <input *ngIf="itemType == 'description'" (change)="CreateAndUpdate(e,l)" [ngModelOptions]="{standalone: true}" type="text" (input)="l.btnDisable = false" [(ngModel)]="l.description" class="border-0 text-center col px-2 position-absolute">
                            <div [ngStyle]="{'visibility': l.btnDisable ? 'hidden' : 'visible'}"  class="input-group-prepend m-0 w-100" style="display: block;"> 
                            <button class="pointer btn-outline-primary float-right border-0 l-h-n btn px-1 py-0 m-1 font-14"
                                (click)="CreateAndUpdate(e,l)" type="submit" >
                                <i class="fa fa-check" aria-hidden="true"></i>
                              </button>
                            </div>
                          </div>
                    </form>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
</div>