div#loader-container{
    height: 50px;
    width: 50px;
    position: relative;
    // left: 50%;
    // transform:translate(-50%,300%);
    }
    
    .loader{
        width: 100%;
        height:100%;
        border: 3px solid #00727f30 !important;
        border-radius: 50%;
        border-top:3px solid #55eeff !important;
        border-bottom:3px solid #55eeff !important;
        animation: rotate .8s linear infinite;
        z-index: 999999;
    }
    
    .background{
        top: 0px;
        left: 0px;
        background: #000000a3;
        z-index: 999999 !important;
    }
    
    @keyframes rotate {
        100% {transform: rotate(360deg);}
    }
    
    
    