<app-topbar (reply)="drawer.toggle()"></app-topbar>
<mat-drawer-container class="example-container w-100 bg-light text-muted" style="height:90%;">
  <mat-drawer mode="side" opened #drawer class="bg-light z-index-0">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
    <app-dialog [temps]="dialogService.temps"></app-dialog>
  </mat-drawer-content>
</mat-drawer-container>

<app-message [messages]="messageService.msgs"></app-message>
