<app-spinner class="loading position-fixed w-100" style="top:0px;z-index: 5" mode="indeterminate" *ngIf="loading">
</app-spinner>
<div class="container-fluid p-0">
  <div class="row m-0 px-2">
    <div *ngIf="!restaurantId" class="col-12 border-bottom px-3 py-2">
      <span class="h2 text-clr text-uppercase font-weight-light">
        Users
      </span>
    </div>
    <div *ngIf="user.restaurantId" class="col-12 border-bottom px-3 py-2">
      <span class="h2 text-clr text-uppercase font-weight-light">
        Employees
      </span>
    </div>
    <div class="col-12 p-3 rounded font-14">
      <input type="text" class="border w-25 px-2" placeholder="Search by Name" (input)="fetch(false)"
        [(ngModel)]="users.filters.properties['name'].value">
      <select [(ngModel)]="users.filters.properties['status'].value" (change)="fetch(true)"
        class="pointer font-14 border max-h-0 l-h-n h-28 float-right bg-white ml-2 text-capitalize text-muted">
        <option [value]="filter" *ngFor="let filter of status">{{filter}}</option>
      </select>
      <button *ngIf="restaurantId" (click)="openDialog(create,{'width':'320px'})" class="pointer font-14 btn radius-0 max-h-0 l-h-n h-28 border bg-white float-right mx-2" mat-button>
          Add
      </button>
    </div>

    <div class="col-12 mb-4 px-3">
      <div class="w-100 h-100 rounded position-relative">
        <div>
          <table class="text-center w-100 bg-white">
            <thead>
              <tr class="text-dark x-small-text font-weight-bold">
                <th scope="col" class="p-1 border">Sr no.</th>
                <th scope="col" class="p-1 border">Name</th>
                <th scope="col" class="p-1 border">Email</th>
                <th *ngIf="user.restaurantId || restaurantId" scope="col" class="p-1 border">User Name</th>
                <!-- <th scope="col" class="p-1 border" style="width:267px">Contact No.</th> -->
                <th *ngIf="!restaurantId" scope="col" class="p-1 border">Referral Code</th>
                <th scope="col" class="p-1 border">Role</th>
                <th scope="col" class="p-1 border">Status</th>
                <th scope="col" class="p-1 border">Action</th>
              </tr>
            </thead>
            <tbody class="text-dark text-capitalize">
              <tr *ngFor="let user of users.items;let i = index;">
                <td class="border p-1 w-5">
                  <span class="x-small-text">{{((users.pageNo-1)*users.pageSize)+i+1}}</span>
                </td>
                <td class="border p-1">
                  <a (click)="user.restaurantId ? setUpdate(user,create) : ''" [class.a]="user.restaurantId" class="x-small-text ml-2 text-dark">{{user?.name || 'name'}}</a>
                </td>
                <td class="border p-1 x-small-text">
                    <span class="x-small-text">{{user?.email || 'N/a'}}</span>
                </td>
                <td class="border p-1" *ngIf="user.restaurantId || restaurantId">
                  <span class="x-small-text">{{user?.username || 'N/a'}}</span>
                </td>
                <td *ngIf="!restaurantId" class="border p-1">
                  <span class="x-small-text">{{user?.referralCode || 'N/a'}}</span>
                </td>
                <td class="border p-1">
                  <span class="x-small-text">{{user?.role || 'N/a'}}</span>
                </td>
                <td class="border p-1">
                  <span class="x-small-text">{{user?.status || 'N/a'}}</span>
                </td>
                <td class="border p-1 x-small-text">
                  <button [disabled]="user.btnDisable" *ngIf="user.status != 'active'"
                    (click)="updateStatus(user,'active')" matTooltip="Active" mat-icon-button
                    class="outline-0 text-muted">
                    <i class="fa fa-check-circle"></i>
                  </button>
                  <button [disabled]="user.btnDisable" *ngIf="user.status != 'blocked'"
                    (click)="updateStatus(user,'blocked')" matTooltip="Block" mat-icon-button
                    class="outline-0 text-muted">
                    <i class="fa fa-ban"></i>
                  </button>
                  <button [disabled]="user.btnDisable" *ngIf="user.status != 'deleted'" (click)="delete(user)"
                    matTooltip="Delete" mat-icon-button class="outline-0 text-muted">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-12 pt-2">
          <!-- <mat-paginator class="w-100 bg-clr" [length]="users.totalRecords" [pageSize]="users.pageSize"
            [pageSizeOptions]="[ 5, 10, 25, 100]" [pageIndex]="users.pageNo - 1"
            (page)="users.pageSize = $event['pageSize'];users.pageNo = $event['pageIndex']+1;fetch(true)">
          </mat-paginator>

          <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator> -->
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #create>
  <div class="col-12 shadow-light bg-white rounded p-3">
    <label *ngIf="!newUser?.id" class="font-17 text-clr m-0">Create Employee</label>
    <label *ngIf="newUser?.id" class="font-17 text-clr m-0">Update Employee</label>
    <form autocomplete="off" class="row m-0 col-12 p-0">
      <div class="col-12 p-0">
        <label for="name1" class="block font-13 mb-0 mt-2">Name
          <span class="font-12 text-danger float-right" *ngIf="newUser?.errName">
            {{newUser?.errName}}
          </span>
        </label>
        <input [class.redBorder]="newUser?.errName" id="name1" (click)="newUser.errName =null"
          class="border w-100 font-14 py-1 px-2" type="text" placeholder="Name" [ngModelOptions]="{standalone: true}"
          [(ngModel)]="newUser.name">
        <label for="userName" class="block font-13 mb-0 mt-2">User Name
          <span class="font-12 text-danger float-right" *ngIf="newUser?.errUserName">
            {{newUser?.errUserName}}
          </span>
        </label>
        <input [class.redBorder]="newUser?.errUserName" autocomplete="off" id="userName" (click)="newUser.errUserName =null"
          class="border w-100 font-14 py-1 px-2" type="text" placeholder="User Name"
          [ngModelOptions]="{standalone: true}" [(ngModel)]="newUser.username">
        <label for="Password" class="block font-13 mb-0 mt-2">Password
          <span class="font-12 text-danger float-right" *ngIf="newUser?.errPassword">
            {{newUser?.errPassword}}
          </span>
        </label>
        <div class="input-group border" [class.redBorder]="newUser?.errPassword">
          <input id="Password" (click)="newUser.errPassword = null" autocomplete="off"
            class="col border-0 font-14 py-1 px-2" [type]="newUser.showPassword ? 'text' : 'password'"
            placeholder="Password" [ngModelOptions]="{standalone: true}" [(ngModel)]="newUser.password">
          <div class="input-group-prepend m-0">
            <button class="pointer btn-outline-secondary border-0 l-h-n btn px-1 py-0 m-1 font-14"
              (click)="newUser.showPassword = !newUser.showPassword">
              <i *ngIf="newUser.showPassword" class="fa fa-eye" aria-hidden="true"></i>
              <i *ngIf="!newUser.showPassword" class="fa fa-eye-slash" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <label for="role" class="block font-13 mb-0 mt-2 text-capitalize">Role</label>
        <select id="role" class="border w-100 font-14 py-1 px-2" [ngModelOptions]="{standalone: true}"
          [(ngModel)]="newUser.role">
          <option [value]="r" *ngFor="let r of role">{{r}}</option>
        </select>
        <label for="email" class="block font-13 mb-0 mt-2">Email</label>
        <input id="email" class="border w-100 font-14 py-1 px-2" type="email" placeholder="Email"
          [ngModelOptions]="{standalone: true}" [(ngModel)]="newUser.email">
      </div>
      <div class="col-12 p-0 text-right mt-2">
        <button type="reset" [disabled]="newUser?.btnDisable" (click)="clearForm()"
          class="btn bg-white border font-13 radius-0 mr-2">Clear</button>
        <button *ngIf="newUser.id" type="submit" [disabled]="newUser?.btnDisable"
          class="btn bg-clr font-13 text-white radius-0" (click)="update(newUser,'update')">Update</button>
        <button *ngIf="!newUser.id" type="submit" [disabled]="newUser?.btnDisable"
          class="btn bg-clr font-13 text-white radius-0" (click)="createAdmin(create)">Done</button>
      </div>
    </form>
  </div>
</ng-template>

<app-dialog [temps]="temps"></app-dialog>