<div class="float-right" id="message-container" [@msgAnimation]="messages.length">
    <div>
        <span  *ngIf="messages.length > 1" class="float-right clear" (click)="removeAll()">Clear</span>
    </div>
    <div class="row m-0 rounded mb-3 w-100 message-outer" [ngClass]="messages.length == 0 ? '':'visible'" [ngStyle]="{'background':msg.bg}" *ngFor="let msg of messages">
        <div class="col-10 p-0 pl-2" [ngStyle]="{'color':msg.color}">
            <span *ngIf="msg.sucess" class="h4 message">
                Success
            </span>
            <span *ngIf="!msg.sucess" class="h4 message">
                Failed
            </span>
            <span class="icon font-weight-light text-capitalize">
                {{msg.msg}}
            </span>
        </div>
        <div class="col-2 p-0 pt-1 pr-2">
            <img *ngIf="msg.sucess" height="32px" width="32px" src="../../../assets/images/icons8-checkmark-60.png" alt="">
            <img *ngIf="!msg.sucess" height="32px" width="32px" src="../../../assets/images/icons8-box-important-60.png" alt="">
        </div>
    </div>
</div>