div#message-container{
    width: 200px;
    right: 12px;
    top:20%;
    position: fixed;
    z-index: 9999999;
    
}

div.message-outer{
    padding: 2px 7px 7px 4px;
    background: rgb(45, 204, 112);
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    /* animation: all 3s linear; */
    transition: all .3s ease-in;
    z-index: 9999999;
}

span.clear{
    background: #0000007a;
    color: white;
    border-radius: 6px;
    font-size: 12px;
    padding: 1px 12px 3px 12px;
    margin-bottom: 7px;
    cursor: pointer;
    z-index: 9999999;
}

span.clear:hover{
    transition: all .3s ease-in;
    background: #000000ad;
}


span.icon{
    font-size: 14px;
    display: block;
    line-height: 16px;
}

span.message{
    font-weight: 400;
    z-index: 9999999;
}


