<app-spinner class="loading position-fixed w-100" style="top:0px;z-index: 5" mode="indeterminate" *ngIf="loading">
</app-spinner>
<div class="container-fluid p-0">
  <div class="row m-0 px-3">
    <div class="col-12 border-bottom px-3 py-2">
      <span class="h2 text-clr text-uppercase font-weight-light">
        Dish Detail
      </span>
    </div>
    <div class="col-12 my-3 bg-white light-shadow">
      <form class="w-100 row m-0 my-2" autocomplete="off">
        <div class="px-3">
          <input id="coverImg1" type="file" (change)="onSelectImg($event,ImgCropper,{'width':'500px','padding':'10px'})"
            class="display-0">
          <label *ngIf="!item?.properties.imgUrl" for="coverImg1" class="text-center pointer mb-0 font-14 pointer  mt-3"
            style="border:1px dashed #0000006b;height: 110px; padding: 44px 5px 44px 5px; width: 110px;">
            Add image
            <i class="fa fa-plus"></i>
          </label>
          <label for="coverImg1" class="pointer mt-3 mb-0" *ngIf="item?.properties.imgUrl">
            <img class="mt-1" [src]="item?.properties.imgUrl?.base64 ? item?.properties.imgUrl.base64 : item?.properties.imgUrl "
              width="110px" alt="">
          </label>
        </div>
        <div class="col pl-0 row m-0">
          <label for="name1" class="block w-100 font-13 mb-0">Name <span class="font-12 text-danger float-right"
              *ngIf="item?.properties.errName">{{item?.properties.errName}}</span></label>
          <input id="name1" [class.redBorder]="item?.properties.errName" (click)="item?.properties.errName = null"
            class="border w-100 font-14 py-1 px-2" type="text" placeholder="Name" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="item?.properties.name">
          <label for="description" class="block w-100 font-13 mb-0 mt-2">Description <span
              class="font-12 text-danger float-right"
              *ngIf="item?.properties.errName">{{item?.properties.errDescription}}</span></label>
          <textarea id="description" [class.redBorder]="item?.properties.errDescription"
            (click)="item?.properties.errDescription = null" class="border w-100 font-14 py-1 px-2" type="text"
            placeholder="Description" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="item?.properties.description"></textarea>
          <div class="col-2 text-center py-2 p-0">
            <input [checked]="item?.properties.type == 'veg'" (click)="item?.properties.type = 'veg'" class="mr-2"
              id="veg" type="radio">
            <label for="veg" class="font-13 m-0 l-h-n">veg </label>
          </div>
          <div class="col-2 text-center py-2 p-0">
            <input [checked]="item?.properties.type == 'non-veg'" (click)="item?.properties.type = 'non-veg'" class="mr-2"
              id="nonVeg" type="radio">
            <label for="nonVeg" class="font-13 m-0 l-h-n">Non veg </label>
          </div>
        </div>
        <div class="col-12 row m-0 py-2">
          <div class="col-12 mb-2 border-bottom"><span class="block font-17 text-clr">Size Variant</span></div>
          <div class="col pl-0">
            <label for="Size" class="block font-13 mb-0">Size <span class="font-12 text-danger float-right"
                *ngIf="sizeVariant.errName">{{sizeVariant?.errName}}</span></label>
            <input id="Size" [class.redBorder]="sizeVariant?.errName" (click)="sizeVariant.errName = null"
              class="border w-100 font-14 py-1 px-2" type="text" placeholder="Size"
              [ngModelOptions]="{standalone: true}" [(ngModel)]="sizeVariant.name">
          </div>
          <div class="col pl-0">
            <label for="Price" class="block font-13 mb-0">Price <span class="font-12 text-danger float-right"
                *ngIf="sizeVariant.errPrice">{{sizeVariant?.errPrice}}</span></label>
            <input id="Price" [class.redBorder]="sizeVariant?.errPrice" (click)="sizeVariant.errPrice = null"
              class="border w-100 font-14 py-1 px-2" type="text" placeholder="Price"
              [ngModelOptions]="{standalone: true}" [(ngModel)]="sizeVariant.price">
          </div>
          <div class="col-1 p-0 pt-3">
            <button (click)="addSizeVariant()" [disabled]="sizeVariant?.btnDisable" style="margin-top:1px"
              class="btn bg-clr w-100 font-13 text-white radius-0">
              Add</button>
          </div>
          <div class="col-12 mt-3 p-0">
            <table class="text-center w-100 bg-white">
              <thead>
                <tr class="text-dark x-small-text font-weight-bold">
                  <th scope="col" class="p-1 border">#</th>
                  <th scope="col" class="p-1 border">Size</th>
                  <th scope="col" class="p-1 border">Price</th>
                  <th scope="col" class="p-1 border">Action</th>
                </tr>
              </thead>
              <tbody class="text-dark text-capitalize">
                <tr *ngFor="let sizeVariant of item?.properties?.sizeVariants;let i = index;">
                  <td class="border p-1 x-small-text">
                    <span class="x-small-text">{{i+1}}</span>
                  </td>
                  <td class="border p-1">
                    <a class="x-small-text ml-2 text-dark">{{sizeVariant?.name || 'N/a'}}</a>
                  </td>
                  <td class="border p-1">
                    <a class="x-small-text ml-2 text-dark">{{sizeVariant?.price || 'N/a'}}</a>
                  </td>
                  <td class="border p-1 x-small-text">
                    <button matTooltip="Delete" mat-icon-button (click)="deleteSizeVarient(sizeVariant,i)" class="outline-0 l-h-n h-w text-muted">
                      <i class="fa fa-times"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td class="border py-3 p-1">
                  </td>
                  <td class="border py-3 p-1">
                  </td>
                  <td class="border py-3 p-1">
                  </td>
                  <td class="border py-3 p-1">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-12 text-right py-2 p-0">
            <button *ngIf="id == 'new'" type="reset" [disabled]="item?.properties?.btnDisable" (click)="clearForm()"
              class="btn bg-white border font-13 radius-0 mr-2">Clear</button>
            <button *ngIf="id == 'new'" type="submit" [disabled]="item?.properties?.btnDisable"
              class="btn bg-clr font-13 text-white radius-0" (click)="beforeAddItem(imgProgress)">
               Create
              </button>
              <button *ngIf="id != 'new'" type="submit" (click)="beforeUpdate(imgProgress)" [disabled]="item?.properties?.btnDisable"
              class="btn bg-clr font-13 text-white radius-0">
               Update
              </button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
<app-message [messages]="msgs"></app-message>

<ng-template #ImgCropper>
  <app-cropper *ngIf="selectImg" (url)="getCropImg($event,ImgCropper)" [ratio]="ratio" [imageChangedEvent]="selectImg">
  </app-cropper>
</ng-template>

<ng-template #imgProgress>
  <div class="row m-0">
    <div class="m-2 position-relative" style="height:110px"
      *ngFor="let img of cropperService?.uploader?.queue;let i = index">
      <img height="110px" imgPreview src [image]="img?._file" alt="">
      <div *ngIf="cropperService?.uploader?.queue?.length" style="background-color: #0000007a;"
        [ngStyle]="{'width':img?.progress+'%'}"
        class="progress radius-0 transition h-100 position-absolute top-0 left-0">
      </div>
      <span style="left: 40%; top: 34%;" class="position-absolute text-light">{{img?.progress+'%'}}</span>
    </div>
  </div>
</ng-template>

<app-dialog [temps]="temps"></app-dialog>