<nav class="navbar navbar-expand-lg navbar-light bg-clr">
    <button class="bg-transparent l-h-n p-0 font-13 min-hw-0 h-w mr-lg-2 text-light outline-0" mat-button (click)="sidebarToggle()">
        <span class="fa fa-bars"></span>
      </button>
      <a class="navbar-brand">
        <img src="../../../assets/images/playstore-icon.png" width="30" height="30" alt="">
      </a>
    <button class="navbar-toggler l-h-n p-0 font-13 min-hw-0 h-w bg-transparent text-light outline-0" mat-button type="button" (click)="show = !show" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span>
    </button>
  
    <div class="collapse navbar-collapse transition" [class.show]="show" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item">Action</a>
            <a class="dropdown-item">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li> -->
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
      <button (click)="logOut()" mat-button class="float-right text-light mx-2 border-0 logout-btn pointer outline-0">
          <i class="fa fa-sign-out mr-2" aria-hidden="true"></i>
          Logout
      </button>
    </div>
  </nav>
  