<app-spinner class="loading position-fixed w-100" style="top:0px;z-index: 5" mode="indeterminate" *ngIf="loading">
</app-spinner>
<div class="container-fluid p-0">
  <div class="row m-0 px-2">
    <div class="col-12 border-bottom px-3 py-2">
      <span class="h2 text-clr text-uppercase font-weight-light">
        requests
      </span>
    </div>
    <div class="col-12 p-3 rounded font-14">
      <input type="text" class="border w-25 px-2" placeholder="Search by Name" (input)="fetch(false)"
        [(ngModel)]="requests.filters.properties['name'].value">
      <!-- <select [(ngModel)]="requests.filters.properties['status'].value" (change)="fetch(true)"
        class="pointer font-14 border max-h-0 l-h-n h-28 float-right bg-white ml-2 text-capitalize text-muted">
        <option [value]="filter" *ngFor="let filter of status">{{filter}}</option>
      </select> -->
    </div>

    <div class="col-12 mb-4 px-3">
      <div class="w-100 h-100 rounded position-relative">
        <div>
          <table class="text-center w-100 bg-white">
            <thead>
              <tr class="text-dark x-small-text font-weight-bold">
                <th scope="col" class="p-1 border">Sr no.</th>
                <th scope="col" class="p-1 border">Name</th>
                <th scope="col" class="p-1 border">Email</th>
                <th scope="col" class="p-1 border" style="width:267px">Contact No.</th>
                <th scope="col" class="p-1 border">message</th>
                <th scope="col" class="p-1 border">Action</th>
              </tr>
            </thead>
            <tbody class="text-dark text-capitalize">
              <tr *ngFor="let request of requests.items;let i = index;">
                <td class="border p-1 w-5">
                  <span class="x-small-text">{{((requests.pageNo-1)*requests.pageSize)+i+1}}</span>
                </td>
                <td class="border p-1">
                  <a class="x-small-text ml-2 text-dark">{{request?.restaurantName || 'N/a'}}</a>
                </td>
                <td class="border p-1 x-small-text">
                    <span class="x-small-text">{{request?.email || 'N/a'}}</span>
                </td>
                <td class="border p-1">
                  <span class="x-small-text">{{request?.phone || 'N/a'}}</span>
                </td>
                <td class="border p-1">
                  <span class="x-small-text">{{request?.message || 'N/a'}}</span>
                </td>
                <td class="border p-1 x-small-text">
                  <!-- <button [disabled]="user.btnDisable" *ngIf="user.status != 'active'"
                    (click)="updateStatus(user,'active')" matTooltip="Active" mat-icon-button
                    class="outline-0 text-muted">
                    <i class="fa fa-check-circle"></i>
                  </button>
                  <button [disabled]="user.btnDisable" *ngIf="user.status != 'blocked'"
                    (click)="updateStatus(user,'blocked')" matTooltip="Block" mat-icon-button
                    class="outline-0 text-muted">
                    <i class="fa fa-ban"></i>
                  </button> -->
                  <button [disabled]="request?.btnDisable" (click)="delete(request)"
                    matTooltip="Delete" mat-icon-button class="outline-0 text-muted">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-12 pt-2">
          <!-- <mat-paginator class="w-100 bg-clr" [length]="users.totalRecords" [pageSize]="users.pageSize"
            [pageSizeOptions]="[ 5, 10, 25, 100]" [pageIndex]="users.pageNo - 1"
            (page)="users.pageSize = $event['pageSize'];users.pageNo = $event['pageIndex']+1;fetch(true)">
          </mat-paginator>

          <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator> -->
        </div>
      </div>
    </div>
  </div>
</div>