<app-spinner *ngIf="isloading"></app-spinner>
<div class="login-body m-0 bg-white h-100">
    <div class="card-outer h-100">
        <div class="login-card position-relative col-sm-12 col-mg-8 col-lg-4">
            <div class="card-inner text-white text-center">
                    <img style="height:90px;" class="mb-3" src="../../../assets/images/playstore-icon.png" alt="">
                <form [formGroup]="loginForm" class="row m-0" autocomplete="off">
                    <div class="form-group p-2 m-0 col-sm-12 ">
                            <span *ngIf="errorTxt" class="float-right errorTxt">{{'! '+errorTxt}}</span>
                        <input  #username [class.active]="username.value" (input)="errorTxt = null" [ngClass]="errorTxt ? 'errorTxt' : 'active'" type="email" class="border shadow-0 radius-0 form-control" placeholder="Email" formControlName="email" autocomplete="off">
                    </div>
                    <div class="form-group p-2 m-0 col-sm-12">
                        <input  #password [class.active]="password.value" (input)="errorTxt = null" [ngClass]="errorTxt ? 'errorTxt' : 'active'" type="password" class="border shadow-0 radius-0 form-control" placeholder="Password" formControlName="password" autocomplete="off">
                    </div>
                    <div class="form-group p-2 m-0 col-sm-12 ">
                        <button [disabled]="!username.value" [disabled]="!password.value" class="w-100 btn radius-0 bg-clr text-white text-uppercase font-weight-light" (click)="login()">sign in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>