<app-spinner class="loading position-fixed w-100" style="top:0px;z-index: 5" mode="indeterminate" *ngIf="loading">
</app-spinner>
<div class="container-fluid p-0">
  <div class="row m-0 px-2">
    <div *ngIf="!restaurantId" class="col-12 border-bottom px-3 py-2">
      <span class="h2 text-clr text-uppercase font-weight-light">
          Categories
      </span>
    </div>
    <div class="col-12 p-3 rounded font-14">
      <input type="text" class="border w-25 px-2" placeholder="Search by Name" (input)="fetch(false)"
        [(ngModel)]="menus.filters.properties['name'].value">
        <button [routerLink]="['/pages/menus/new']"
        class="pointer font-14 btn radius-0 max-h-0 l-h-n h-28 border bg-white float-right mx-2" mat-button>
        Add category
      </button>
      <button [routerLink]="['/pages/languages']" class="pointer font-14 btn radius-0 max-h-0 l-h-n h-28 border bg-white float-right mx-2" mat-button>
        Language
      </button>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-4 col-6 p-0" *ngFor="let m of menus.items">
      <div class="p-2 rounded position-relative">
        <div class="card light-shadow border-0">
          <img [routerLink]="['/pages/menus/'+m.id]" class="card-img-top outline-0 pointer" onerror="this.src='../../../assets/images/notFound.png'" [src]="m.imgUrl || '../../../assets/images/notFound.png'" alt="Card image cap">
          <div class="card-body p-2 text-right">
            <!-- <a *ngIf="!restaurantId" [routerLink]="[m.id]" class="card-title text-dark m-0 float-left font-14 mt-1">{{m.name}}</a> -->
            <a [routerLink]="['/pages/menus/'+m.id]" class="card-title text-dark m-0 float-left font-14 mt-1">{{m.name}}</a>
            <!-- <button [routerLink]="[m.id]" [disabled]="m.btnDisable" matTooltip="Edit" mat-icon-button
              class="outline-0 text-muted l-h-n h-w">
              <i class="fa fa-pencil"></i>
            </button> -->
            <button [disabled]="m.btnDisable" (click)="delete(m)" matTooltip="Delete" mat-icon-button
              class="outline-0 text-muted l-h-n h-w">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-12 pt-2">
      <mat-paginator class="w-100 bg-clr" [length]="menus.totalRecords" [pageSize]="menus.pageSize"
        [pageSizeOptions]="[ 5, 10, 25, 100]" [pageIndex]="menus.pageNo - 1"
        (page)="menus.pageSize = $event['pageSize'];menus.pageNo = $event['pageIndex']+1;fetch(true)">
      </mat-paginator>

      <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div> -->
  </div>
</div>
<app-message [messages]="msgs"></app-message>