<div class="w-100 h-100 bg-clr">
  <div class="w-100 side-data p-0">
      <div class="w-100 px-3 text-center">
          <img height="100px" class="py-2" src="../../../assets/images/playstore-icon.png" alt="">
      </div>
      <!-- <div class="dropdown">
          <button style="border-color: #948c87a1 !important;" (click)="show = !show" mat-button class="radius-0 px-2 text-right border-top border-bottom text-light outline-0 w-100 bg-trasperent dropdown-toggle"
              type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="float-left ml-2">{{user.name}}</span>
          </button>
          <div class="dropdown-menu text-center font-13" [class.show]="show" style="min-width: auto;width: 150px;" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item pointer bg-white" (click)="openDialog(detail,{'width':'320px'},false)">View Profile</a>
              <a class="dropdown-item pointer bg-white" (click)="logOut()">
                  <i class="fa fa-sign-out mr-2"></i> Logout</a>
          </div>
      </div> -->
      <div class="element">
          <ul class="p-0 pt-2">
              <li [hidden]="tab.hidden" [routerLink]="[tab.link]" routerLinkActive="active" *ngFor="let tab of tabs">
                  <a class="text-light text-uppercase my-8">
                      <i class="fa" [ngClass]='tab.icon' aria-hidden="true"></i>
                      <span>{{tab.name}}</span></a>
              </li>
          </ul>
      </div>
  </div>
</div>

<ng-template #detail>
        <div class="col-12 shadow-light bg-white rounded p-3">
          <label class="font-17 text-clr m-0">Update Details</label>
          <form autocomplete="off" class="row m-0 col-12 p-0">
            <div class="col-12 p-0">
              <label for="name1" class="block font-13 mb-0 mt-2">Name
                <span class="font-12 text-danger float-right" *ngIf="user?.errName">
                  {{user?.errName}}
                </span>
              </label>
              <input [class.redBorder]="user?.errName" id="name1" (click)="user.errName =null"
                class="border w-100 font-14 py-1 px-2" type="text" placeholder="Name" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="user.name">
              <label for="userName" class="block font-13 mb-0 mt-2">User Name
                <span class="font-12 text-danger float-right" *ngIf="user?.errUserName">
                  {{user?.errUserName}}
                </span>
              </label>
              <input [class.redBorder]="user?.errUserName" autocomplete="off" id="userName" (click)="user.errUserName =null"
                class="border w-100 font-14 py-1 px-2" type="text" placeholder="User Name"
                [ngModelOptions]="{standalone: true}" [(ngModel)]="user.username">
              <label for="Password" class="block font-13 mb-0 mt-2">Password
                <span class="font-12 text-danger float-right" *ngIf="user?.errPassword">
                  {{user?.errPassword}}
                </span>
              </label>
              <div class="input-group border" [class.redBorder]="user?.errPassword">
                <input id="Password" (click)="user.errPassword = null" autocomplete="off"
                  class="col border-0 font-14 py-1 px-2" [type]="user.showPassword ? 'text' : 'password'"
                  placeholder="Password" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.password">
                <div class="input-group-prepend m-0">
                  <button class="pointer btn-outline-secondary border-0 l-h-n btn px-1 py-0 m-1 font-14"
                    (click)="user.showPassword = !user.showPassword">
                    <i *ngIf="user.showPassword" class="fa fa-eye" aria-hidden="true"></i>
                    <i *ngIf="!user.showPassword" class="fa fa-eye-slash" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <label for="email" class="block font-13 mb-0 mt-2">Email</label>
              <input id="email" class="border w-100 font-14 py-1 px-2" type="email" placeholder="Email"
                [ngModelOptions]="{standalone: true}" [(ngModel)]="user.email">
            </div>
            <div class="col-12 p-0 text-right mt-2">
              <button *ngIf="user.id" type="submit" [disabled]="user?.btnDisable"
                class="btn bg-clr font-13 text-white radius-0" (click)="update(user,'update')">Update</button>
            </div>
          </form>
        </div>
      </ng-template>