a.text-uppercase {
    text-decoration: none;
    background-color: transparent;
    font-size: 13px;
    letter-spacing: 0.5px;
}

.min-sidebar{
    background: #00000052;
}

.logo-outer,.addUser {
    height: 40px;
    width: 40px;
    background: transparent;
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.error{
    border-color: red !important;
}


.addUser:hover {
    transition: all .3s ease ;
    background: #ffffff1f;
}

div.side-btn-outer{
    bottom: 22px;
}


div.header-top span {
    font-size: 23px;
    margin-left: 14px;
}

li a i {
    margin-right: 4px;
}

li:hover {
    background-color: #ffffff0f;
    transition: all 0.3s ease;
}

li.active {
    border-left: 2px solid white;
    transition: all 0.3s ease;
    background: #ffffff1f;
}

input.active{
    border-color: green !important;
}

li:hover a,
li.active a {
    /* color: rgb(255, 176, 53) !important; */
    transition: all 0.3s ease;
}

li {
    list-style: none;
    padding:9px 20px 9px 20px;
    outline: none;
    cursor: pointer;
    border-left: 2px solid transparent;
}

ul {
    padding: 14px 0px 0px 0px;
    margin: 0px;
}

div.admin img.bg-img {
    height: 222px;
}

img.admin-pic {
    border: 2px solid #adaaaa;
    border-radius: 20px;
    height: 55px;
    width: 55px;
}

div.element {
    /* box-shadow: 0 0 45px 0 rgba(0,0,0,.6); */
    /* background: #222222c7; */
    /* height: 88%; */
    border-radius: 8px 8px 8px 8px;
    /* width: 220px; */
    /* margin: auto; */
}

/* @media only screen and (max-width: 800px) {
    span {
        display: none;
    }
    img {
        height: 100%;
        width: 100%;
    }
    .logo-outer {
        height: 37px !important;
        width: 46px !important;
    }
} */

@media only screen and (max-width: 575px) {
    li {
        margin: 0px !important;
        padding-left: 0px;
        text-align: center;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1200px)
 
{
    .min-sidebar {
        max-width: 20%;
    }
    .side-data{
        max-width: 80%;
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
    }
    .header-top{
        padding: 10px !important;
    }
    .logo-outer, .addUser {
        height: 42px;
        width: 42px;
    }
    .dropdown-menu.show {
        -webkit-transform: translate(39%,-20%) translate3d(0%,0%,0) !important;
        transform: translate(39%,-20%) translate3d(0%,0%,0) !important;
    }
    
}


@media only screen and (min-width: 768px) and (max-width: 991px) 

{
    .min-sidebar {
        max-width: 20%;
    }
    .side-data{
        max-width: 80%;
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
    }
    .header-top{
        padding: 5px !important;
    }
    .header-top img{
        margin-top: 10px;
    }
    .logo-outer, .addUser {
        height: 42px;
        width: 42px;
    }
    .dropdown-menu.show {
        -webkit-transform: translate(39%,-20%) translate3d(0%,0%,0) !important;
        transform: translate(39%,-20%) translate3d(0%,0%,0) !important;
    }
}
