<app-spinner class="loading position-fixed w-100" style="top:0px;z-index: 5" mode="indeterminate" *ngIf="loading">
</app-spinner>
<div class="container-fluid p-0">
  <div class="row m-0 px-2">
    <div class="col-12 border-bottom px-3 py-2">
      <span class="h2 text-clr text-uppercase font-weight-light">
        Order Detail
      </span>
      <select [(ngModel)]="order.properties.status" (change)="update('change status')"
        [disabled]="order.properties.status == 'completed'"
        class="pointer font-14 border py-1 px-2 float-right bg-white text-capitalize text-muted">
        <option [value]="filter" [hidden]="filter == 'completed' || filter == 'deleted'" *ngFor="let filter of status">
          {{filter}}
        </option>
      </select>
    </div>
    <div class="col-12 p-3 row m-0">
      <div class="col-12 col-sm-6 light-shadow bg-white p-2 mb-3">
        <div class="text-clr w-100 border-bottom mb-1">
          <span class="h5 font-normal">Order info</span>
        </div>
        <div class="w-100 text-muted font-13 px-2">
          <div class="w-100 text-right">
            <span class="float-left">
              Order Payment Status :
            </span>
            <span class="text-dark font-14">
              {{order.properties?.paymentStatus}}
            </span>
          </div>
          <div class="w-100 text-right">
            <span class="float-left">
              Order Status :
            </span>
            <span class="text-dark font-14">
              {{order.properties?.status}}
            </span>
          </div>
          <div class="w-100 text-right">
            <span class="float-left">
              Order Tax :
            </span>
            <span class="text-dark font-14">
              {{order.properties?.tax}}
            </span>
          </div>
          <div class="w-100 text-right">
            <span class="float-left">
              Order Sub Total :
            </span>
            <span class="text-dark font-14">
              {{order.properties?.subTotal}}
            </span>
          </div>
          <div class="w-100 text-right">
            <span class="float-left">
              Order Total :
            </span>
            <span class="text-dark font-14">
              {{order.properties?.total}}
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 p-0 mb-3 row mx-0">
        <div class="text-clr w-100 border-bottom mb-1">
          <span class="h5 font-normal">Order Items</span>
        </div>
        <div class="col-12 col-sm-6 col-md-4 p-2" *ngFor="let item of order.properties?.orderItems;let i = index;">
          <div class="h-100 w-100 light-shadow bg-white p-2 font-13 text-muted">
            <div class="text-clr w-100 border-bottom mb-1">
              <span class="font-normal font-15">Items{{" "+(i+1)}}</span>
            </div>
            <div class="w-100 mb-1">
              <span>
                Item type
              </span>
              <span class="text-dark block font-14">
                {{item?.addOn}}
              </span>
            </div>
            <div class="w-100 mb-1">
              <span>
                Item size
              </span>
              <span class="text-dark block font-14">
                {{item?.sizeVariant}}
              </span>
            </div>
            <div class="w-100 mb-1">
              <span>
                Item quantity
              </span>
              <span class="text-dark block font-14">
                {{item?.quantity}}
              </span>
            </div>
            <div class="w-100 mb-1">
              <span>
                Item price
              </span>
              <span class="text-dark block font-14">
                {{item?.price}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>