<app-spinner class="loading position-fixed w-100" style="top:0px;z-index: 5" mode="indeterminate" *ngIf="loading">
</app-spinner>
<div class="container-fluid p-0">
  <div class="row m-0 px-2">
    <div class="col-12 border-bottom px-3 py-2">
      <span class="h2 text-clr text-uppercase font-weight-light">
        Languages
      </span>
    </div>
    <div class="col-12 p-3">
      <input type="text" class="border w-25 px-2" placeholder="Search by Name" (input)="fetch(false)"
        [(ngModel)]="languages.filters.properties['name'].value">
        <button (click)="beForeCreate(create)" class="pointer font-14 btn radius-0 max-h-0 l-h-n h-28 border bg-white float-right mx-2" mat-button>
            Add
        </button>
    </div>
    <div class="col-12 mb-4 px-3">
      <div class="w-100 h-100 rounded position-relative">
        <div>
          <table class="text-center w-100 bg-white">
            <thead>
              <tr class="text-dark x-small-text font-weight-bold">
                <th scope="col" class="p-1 border">#</th>
                <th scope="col" class="p-1 border">Name</th>
                <th scope="col" class="p-1 border">Code</th>
                <th scope="col" class="p-1 border">Action</th>
              </tr>
            </thead>
            <tbody class="text-dark text-capitalize">
              <tr class="x-small-text" *ngFor="let l of languages.items;let i = index;">
                <td class="border p-1">
                  <span>{{((languages.pageNo-1)*languages.pageSize)+i+1}}</span>
                </td>
                <td class="border p-1">
                  <span (click)="beForeUpdate(l,create)" class="a">{{l?.name}}</span>
                </td>
                <td class="border p-1">
                  <span>{{l?.code}}</span>
                </td>
                <td class="border text-muted">
                  <button [disabled]="l.btnDisable" (click)="beForeUpdate(l,create)" mat-icon-button class="outline-0 l-h-n h-w font-13">
                    <i class="fa fa-pencil"></i>
                  </button>
                  <button [disabled]="l.btnDisable" (click)="delete(l.id)" mat-icon-button class="outline-0 l-h-n h-w font-13">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #create >
  <form class="p-3" autocapitalize="off" >
    <label class="font-17 text-clr m-0">Add Language</label>
    <label class="font-13 text-muted w-100 mb-0 mt-2" for="langName">Language Name
      <span class="font-12 text-danger float-right" *ngIf="language?.errName">
        {{language?.errName}}
      </span>
    </label>
    <input [class.redBorder]="language?.errName" (click)="language.errName =null" class="w-100 border font-14 py-1 px-2" id="langName" autocapitalize="off" type="text" placeholder="Language Name" [(ngModel)]="language.name" [ngModelOptions]="{standalone: true}" >
    <label class="font-13 text-muted w-100 mb-0 mt-2" for="code">Language code
      <span class="font-12 text-danger float-right" *ngIf="language?.errCode">
        {{language?.errCode}}
      </span>
    </label>
    <input [class.redBorder]="language?.errCode" (click)="language.errCode =null" class="w-100 border font-14 py-1 px-2" id="code" autocapitalize="off" type="text" placeholder="Language code" [(ngModel)]="language.code" [ngModelOptions]="{standalone: true}" >
    <div class="w-100 text-right pt-2">
        <button [disabled]="language.btnDisable" (click)="clearForm()" class="bg-white text-muted btn radius-0 font-12 border mr-2" type="reset">Clear</button>
        <button [disabled]="language.btnDisable" *ngIf="!language.id" (click)="addNew()" class="bg-clr text-white btn radius-0 font-12" type="submit">Create</button>
        <button [disabled]="language.btnDisable" *ngIf="language.id" (click)="update()" class="bg-clr text-white btn radius-0 font-12" type="submit">Update</button>
    </div>
  </form>
</ng-template>