<app-spinner class="loading position-fixed w-100" style="top:0px;z-index: 5" mode="indeterminate" *ngIf="loading">
</app-spinner>
<div class="container-fluid p-0">
  <div class="row m-0 px-2">
    <div *ngIf="!restaurantId" class="col-12 border-bottom px-3 py-2">
      <span class="h2 text-clr text-uppercase font-weight-light">
        Orders
      </span>
    </div>
    <div class="col-12 p-3 rounded font-14">
      <select [(ngModel)]="orders.filters.properties['status'].value" (change)="fetch(true)"
        class="pointer font-14 border px-2 py-1 float-right bg-white ml-2 text-capitalize text-muted">
        <option [value]="filter" *ngFor="let filter of status">{{filter}}</option>
      </select>
      <select [(ngModel)]="orders.filters.properties['paymentStatus'].value" (change)="fetch(true)"
        class="pointer font-14 border px-2 py-1 float-right bg-white text-capitalize text-muted">
        <option [value]="filter" *ngFor="let filter of paymentStatus">{{filter}}</option>
      </select>
    </div>

    <div class="col-12 mb-4 px-3">
      <div class="w-100 h-100 rounded position-relative">
        <div>
          <table class="text-center w-100 bg-white">
            <thead>
              <tr class="text-dark x-small-text font-weight-bold">
                <th scope="col" class="p-1 border">Sr no.</th>
                <th scope="col" class="p-1 border">Order Items</th>
                <th scope="col" class="p-1 border">Tax</th>
                <th scope="col" class="p-1 border">SubTotal</th>
                <th scope="col" class="p-1 border">Total</th>
                <th scope="col" class="p-1 border">Payment Status</th>
                <th scope="col" class="p-1 border">Status</th>
                <th scope="col" class="p-1 border">Action</th>
              </tr>
            </thead>
            <tbody class="text-dark text-capitalize">
              <tr *ngFor="let order of orders.items;let i = index;">
                <td class="border p-1 w-5">
                  <span class="x-small-text">{{((orders.pageNo-1)*orders.pageSize)+i+1}}</span>
                </td>
                <td class="border x-small-text">
                  <button [routerLink]="['/pages/orders/'+order?.id]"
                    class="x-small-text btn btn-outline-primary l-h-n py-1 border-0 radius-0">{{order?.orderItems?.length+ ' Items' || 'N/a'}}</button>
                </td>
                <td class="border p-1">
                  <span class="x-small-text">{{order?.tax || 'N/a'}}</span>
                </td>
                <td class="border p-1">
                  <span class="x-small-text">{{order?.subTotal || 'N/a'}}</span>
                </td>
                <td class="border p-1">
                  <span class="x-small-text">{{order?.total || 'N/a'}}</span>
                </td>
                <td class="border p-1">
                  <span class="x-small-text">{{order?.paymentStatus || 'N/a'}}</span>
                </td>
                <td class="border">
                  <select [(ngModel)]="order.status" (change)="update(order,'change status')" [disabled]="order.status == 'completed'"
                    class="pointer font-13 border-0 py-2 w-100 px-2 bg-white text-capitalize text-muted">
                    <option [value]="filter" [hidden]="filter == 'completed' || filter == 'deleted'" *ngFor="let filter of status">{{filter}}</option>
                  </select>
                </td>
                <td class="border x-small-text">
                  <button [disabled]="order.btnDisable || order?.status == 'deleted'" (click)="delete(order)"
                    matTooltip="Delete" mat-icon-button class="outline-0 text-muted l-h-n h-w">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-12 pt-2">
          <!-- <mat-paginator class="w-100 bg-clr" [length]="orders.totalRecords" [pageSize]="orders.pageSize"
              [pageSizeOptions]="[ 5, 10, 25, 100]" [pageIndex]="orders.pageNo - 1"
              (page)="orders.pageSize = $event['pageSize'];orders.pageNo = $event['pageIndex']+1;fetch(true)">
            </mat-paginator>
  
            <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator> -->
        </div>
      </div>
    </div>
  </div>
</div>