<app-spinner class="loading position-fixed w-100" style="top:0px;z-index: 5" mode="indeterminate" *ngIf="loading">
  </app-spinner>
  <div class="container-fluid p-0">
    <div class="row m-0 px-3">
      <div class="col-12 border-bottom p-3">
        <span class="h2 text-clr text-uppercase font-weight-light">
         Dish Additions
        </span>
      </div>
      <ng-container *ngTemplateOutlet="temp == 'list' ? list : additionDetails"> </ng-container>
    </div>
  </div>

  <ng-template #list >
      <div class="col-12 py-3 p-0 rounded font-14">
          <input type="text" class="border w-25 px-2" placeholder="Search by Name" (input)="fetch(false)"
            [(ngModel)]="additions.filters.properties['name'].value">
            <button (click)="edit()" class="pointer font-14 btn radius-0 max-h-0 l-h-n h-28 border bg-white float-right" mat-button>
              Add
          </button>
        </div>
    
        <div class="col-12 mb-3 p-0">
          <div class="w-100 h-100 rounded position-relative">
            <div>
              <table class="text-center w-100 bg-white">
                <thead>
                  <tr class="text-dark x-small-text font-weight-bold">
                    <th scope="col" class="p-1 border">Sr no.</th>
                    <th scope="col" class="p-1 border">Name</th>
                    <th scope="col" class="p-1 border">Varients</th>
                    <th scope="col" class="p-1 border">Action</th>
                  </tr>
                </thead>
                <tbody class="text-dark text-capitalize">
                  <tr *ngFor="let addition of additions.items;let i = index;">
                    <td class="border p-1 w-5">
                      <span class="x-small-text">{{((additions.pageNo-1)*additions.pageSize)+i+1}}</span>
                    </td>
                    <td class="border p-1">
                      <a (click)="edit(addition)" class="x-small-text ml-2 text-dark">{{addition?.type || 'N/a'}}</a>
                    </td>
                    <td class="border p-1 x-small-text">
                        <button (click)="edit(addition)" class="pointer text-white font-13 btn radius-0 l-h-n h-28 border bg-primary" mat-button>
                            {{addition?.additionVariants.length+' Varients' || '0'}}
                        </button>
                    </td>
                    <td class="border p-1 x-small-text">
                      <button [disabled]="addition?.btnDisable" (click)="delete(addition)"
                        matTooltip="Delete" mat-icon-button class="outline-0 l-h-n h-w text-muted">
                        <i class="fa fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 pt-2">
              <!-- <mat-paginator class="w-100 bg-clr" [length]="users.totalRecords" [pageSize]="users.pageSize"
                [pageSizeOptions]="[ 5, 10, 25, 100]" [pageIndex]="users.pageNo - 1"
                (page)="users.pageSize = $event['pageSize'];users.pageNo = $event['pageIndex']+1;fetch(true)">
              </mat-paginator>
    
              <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
              </mat-paginator> -->
            </div>
          </div>
        </div>
  </ng-template>

  <ng-template #additionDetails >
      <form class="w-100 row m-0 my-2 p-0 py-3 bg-white light-shadow" autocomplete="off">
          <div class="col row m-0">
            <label for="name1" class="block w-100 font-13 mb-0">Name <span class="font-12 text-danger float-right"
                *ngIf="addition?.errName">{{addition?.errName}}</span></label>
            <input id="name1" [class.redBorder]="addition.errName" (click)="addition.errName = null"
              class="border w-100 font-14 py-1 px-2" type="text" placeholder="Name" [ngModelOptions]="{standalone: true}"
              [(ngModel)]="addition.type">
          </div>
          <div class="col-12 row m-0 pt-3">
            <div class="col-12 mb-2 border-bottom"><span class="block font-17 text-clr">Varient</span></div>
            <div class="col pl-0">
              <label for="Size" class="block font-13 mb-0">Name <span class="font-12 text-danger float-right"
                  *ngIf="varient.errName">{{varient?.errName}}</span></label>
              <input id="Size" [class.redBorder]="varient?.errName" (click)="varient.errName = null"
                class="border w-100 font-14 py-1 px-2" type="text" placeholder="Name"
                [ngModelOptions]="{standalone: true}" [(ngModel)]="varient.name">
            </div>
            <div class="col pl-0">
              <label for="Price" class="block font-13 mb-0">Price <span class="font-12 text-danger float-right"
                  *ngIf="varient.errPrice">{{varient?.errPrice}}</span></label>
              <input id="Price" [class.redBorder]="varient?.errPrice" (click)="varient.errPrice = null"
                class="border w-100 font-14 py-1 px-2" type="text" placeholder="Price"
                [ngModelOptions]="{standalone: true}" [(ngModel)]="varient.price">
            </div>
            <div class="col-1 p-0 pt-3">
              <button (click)="addVarient()" [disabled]="varient?.btnDisable" style="margin-top:1px"
                class="btn bg-clr w-100 font-13 text-white radius-0">
                Add</button>
            </div>
            <div class="col-12 mt-3 p-0">
              <table class="text-center w-100 bg-white">
                <thead>
                  <tr class="text-dark x-small-text font-weight-bold">
                    <th scope="col" class="p-1 border">#</th>
                    <th scope="col" class="p-1 border">Size</th>
                    <th scope="col" class="p-1 border">Price</th>
                    <th scope="col" class="p-1 border">Action</th>
                  </tr>
                </thead>
                <tbody class="text-dark text-capitalize">
                  <tr *ngFor="let varient of addition?.additionVariants;let i = index;">
                    <td class="border p-1 x-small-text">
                      <span class="x-small-text">{{i+1}}</span>
                    </td>
                    <td class="border p-1">
                      <a class="x-small-text ml-2 text-dark">{{varient?.name || 'N/a'}}</a>
                    </td>
                    <td class="border p-1">
                      <a class="x-small-text ml-2 text-dark">{{varient?.price || 'N/a'}}</a>
                    </td>
                    <td class="border p-1 x-small-text">
                      <button matTooltip="Delete" mat-icon-button (click)="deleteVarient(varient,i)" class="outline-0 l-h-n h-w text-muted">
                        <i class="fa fa-times"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td class="border py-3 p-1">
                    </td>
                    <td class="border py-3 p-1">
                    </td>
                    <td class="border py-3 p-1">
                    </td>
                    <td class="border py-3 p-1">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 text-right py-2 p-0">
                <button [disabled]="addition?.btnDisable" (click)="temp = 'list'"
                class="btn bg-white border font-13 radius-0 mr-2">Cancel</button>
              <button *ngIf="!addition.id" type="reset" [disabled]="addition?.btnDisable" (click)="edit()"
                class="btn bg-white border font-13 radius-0 mr-2">Clear</button>
              <button *ngIf="!addition.id" type="submit" [disabled]="addition?.btnDisable"
                class="btn bg-clr font-13 text-white radius-0" (click)="create()" >
                 Create
                </button>
                <button *ngIf="addition.id" type="submit" (click)="update()" [disabled]="addition?.btnDisable"
                class="btn bg-clr font-13 text-white radius-0">
                 Update
                </button>
            </div>
          </div>
        </form>
  </ng-template>