<app-spinner class="loading position-fixed w-100" style="top:0px;z-index: 5" mode="indeterminate" *ngIf="loading">
</app-spinner>
<div class="container-fluid p-0">
  <div class="row m-0 px-2">
    <div class="col-12 border-bottom px-3 py-2">
      <span class="h2 text-clr text-uppercase font-weight-light">
        dishes
      </span>
    </div>
    <div class="col-12 p-3 rounded font-14">
      <input type="text" class="border w-25 px-2" placeholder="Search by Name" (input)="fetch(false)"
        [(ngModel)]="menuItems.filters.properties['name'].value">
      <button (click)="newItem()"
        class="pointer font-14 btn radius-0 max-h-0 l-h-n h-28 border bg-white float-right mx-2" mat-button>
        Add
      </button>
    </div>

    <div class="col-12 mb-4 px-3">
      <div class="w-100 h-100 rounded position-relative">
        <div>
          <table class="text-center w-100 bg-white">
            <thead>
              <tr class="text-dark x-small-text font-weight-bold">
                <th scope="col" class="p-1 border">Sr no.</th>
                <th scope="col" class="p-1 border">Name</th>
                <th scope="col" class="p-1 border">Rating</th>
                <th scope="col" class="p-1 border">Addition</th>
                <th scope="col" class="p-1 border">Size Varient</th>
                <th scope="col" class="p-1 border">Action</th>
              </tr>
            </thead>
            <tbody class="text-dark text-capitalize">
              <tr *ngFor="let dish of menuItems.items;let i = index;">
                <td class="border p-1 w-5">
                  <span class="x-small-text">{{((menuItems.pageNo-1)*menuItems.pageSize)+i+1}}</span>
                </td>
                <td class="border p-1">
                  <a [routerLink]="['/pages/menus/items/'+dish.id]"
                    class="x-small-text ml-2 text-dark">{{dish?.name || 'N/a'}}</a>
                </td>
                <td class="border p-1">
                  <i *ngIf="dish.avgRating == 0" class="fa fa-star-o"></i>
                  <i *ngIf="dish.avgRating == .5" class="fa fa-star-half-o"></i>
                  <i *ngIf="dish.avgRating >= 1" class="fa fa-star"></i>

                  <i *ngIf="dish.avgRating <= 1" class="fa fa-star-o"></i>
                  <i *ngIf="dish.avgRating == 1.5" class="fa fa-star-half-o"></i>
                  <i *ngIf="dish.avgRating >= 2" class="fa fa-star"></i>

                  <i *ngIf="dish.avgRating <= 2" class="fa fa-star-o"></i>
                  <i *ngIf="dish.avgRating == 2.5" class="fa fa-star-half-o"></i>
                  <i *ngIf="dish.avgRating >= 3" class="fa fa-star"></i>

                  <i *ngIf="dish.avgRating <= 3" class="fa fa-star-o"></i>
                  <i *ngIf="dish.avgRating == 3.5" class="fa fa-star-half-o"></i>
                  <i *ngIf="dish.avgRating >= 4" class="fa fa-star"></i>

                  <i *ngIf="dish.avgRating <= 4" class="fa fa-star-o"></i>
                  <i *ngIf="dish.avgRating == 4.5" class="fa fa-star-half-o"></i>
                  <i *ngIf="dish.avgRating >= 5" class="fa fa-star"></i>
                </td>
                <td class="border p-1 x-small-text">
                  <button (click)="viewAdditions(dish.id)"
                    class="pointer text-white font-14 btn radius-0 l-h-n h-28 border bg-primary" mat-button>
                    {{dish?.additions.length+' Addition' || '0'}}
                  </button>
                </td>
                <td class="border p-1 x-small-text">
                  <button [routerLink]="['/pages/menus/items/'+dish.id]"
                    class="pointer text-white font-14 btn radius-0 l-h-n h-28 border bg-primary" mat-button>
                    {{dish?.sizeVariants.length+' Variant' || 'N/a'}}
                  </button>
                </td>
                <td class="border p-1 x-small-text">
                  <button [disabled]="dish?.btnDisable" (click)="delete(dish)" matTooltip="Delete" mat-icon-button
                    class="outline-0 text-muted">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-12 pt-2">
          <!-- <mat-paginator class="w-100 bg-clr" [length]="users.totalRecords" [pageSize]="users.pageSize"
            [pageSizeOptions]="[ 5, 10, 25, 100]" [pageIndex]="users.pageNo - 1"
            (page)="users.pageSize = $event['pageSize'];users.pageNo = $event['pageIndex']+1;fetch(true)">
          </mat-paginator>

          <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator> -->
        </div>
      </div>
    </div>
  </div>
</div>
<app-message [messages]="msg"></app-message>