/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px transparent;
    background-color: transparent;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #b5b1b1;
  }

.transition{
  transition: all .28s ease !important;
}

.min-h-0{
  min-height: 0px !important;
}

.min-w-0{
  min-width: 0px !important;
}

.h-w{
  height: 30px !important;
  width: 30px !important;
}

.border-00{
  border:none;
}

.bg-clr{
  background-color: #00727f !important;
}

.border-clr{
  border-color: #00727f !important;
}

.radius-0{
  border-radius: 0px !important;
}

.top-0{
  top: 0px !important;
}

.right-0{
  right: 0px !important;
}

.left-0{
  left: 0px !important;
}

.bottom-0{
  bottom: 0px !important;
}

.text-clr{
  color: #00727f !important;
}


.mid-text{
  font-size:16px;
}

.max-h-0{
  max-height: none !important;
}

.font-10{
  font-size:10px !important;
}

.font-11{
  font-size:11px !important;
}

.z-index-0{
    z-index: 0 !important;
}

.font-12{
  font-size:12px !important;
}

.font-13{
  font-size:13px !important;
}

.font-14{
  font-size:14px !important;
}

.font-15{
  font-size:15px !important;
}

.font-16{
  font-size:16px !important;
}

.font-17{
  font-size:17px !important;
}

.font-18{
  font-size:18px !important;
}

.font-19{
  font-size:19px !important;
}

.font-20{
  font-size:20px !important;
}

.h-28{
  height: 28px !important;
}

.max-w-0{
  max-width: none !important;
}

.l-h-n{
  line-height: normal !important;
}

.h-a{
  height: auto !important;
}
.a:hover {
  cursor: pointer;
  text-decoration: underline !important;
}
.w-a{
  width: auto !important;
}

.m-a{
  margin: auto !important;
}

.pointer{
  cursor: pointer;
}

.x-small-text{
  font-size: 13px;
}

.w-5{
  width: 5%;
}

.shadow-0{
 box-shadow: none !important;
}

.small-text{
  font-size: 14px;
}

.font-normal{
  font-weight: normal !important;
}

.redBorder{
  border-color: red !important;
}

.display-0{
  display: none !important;
}

.min-hw-0{
  min-width: 0px !important;
  min-height: 0px !important;
}

.lh-13{
  line-height: 17px !important;
}

.line-h-18{
  line-height: 18px !important;
}

.lh-10{
  line-height: 10px !important;
}

.block{
  display: block;
}

.inline{
  display: inline;
}



.outline-0{
  outline: none !important;
}

.shadow{
  box-shadow: 0 6px 0 0 rgba(0, 0, 0, .01), 0 15px 32px 0 rgba(0, 0, 0, .06) !important;
}

.light-shadow{
 box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04), 0 2px 2px 0 rgba(0, 0, 0, 0.04), 0 3px 1px -2px rgba(0, 0, 0, 0);
}

.scroll-y{
  overflow-y: scroll;
}

.scroll-x{
  overflow-x: scroll;
}

  
 