<div class="w-100">
        <image-cropper style="max-height:400px" #cropImg [aspectRatio]="ratio ? ratio : 10 / 10" class="height-300" [imageChangedEvent]="imageChangedEvent"
              [maintainAspectRatio]="true" [resizeToWidth]="250" format="png" (imageCropped)="imageCropped($event)"
              (loadImageFailed)="selectImg('Only image is supported')">
        </image-cropper>
  
        <div class="w-100 text-right">
              <!-- <button class="mt-2  ml-2 pointer radius-0 border" mat-button (click)="onCancel()">Cancel</button> -->
              <button class="mt-2  text-white btn radius-0 pointer font-13 bg-clr" mat-button (click)="selectImg()">Save</button>
        </div>
  </div>