<app-spinner class="loading position-fixed w-100" style="top:0px;z-index: 5" mode="indeterminate" *ngIf="loading">
</app-spinner>
<div class="container-fluid p-0">
  <div class="row m-0 px-3">
    <div class="col-12 border-bottom p-3">
      <span class="h2 text-clr text-uppercase font-weight-light">
          Category
      </span>

    </div>
    <div class="col-12 row m-0 p-0 my-3">
      <ng-container *ngTemplateOutlet="temp == 'create' ? create : detail"> </ng-container>
    </div>
  </div>
</div>

<app-message [messages]="msg"></app-message>

<ng-template #ImgCropper>
  <app-cropper *ngIf="selectImg" (url)="getCropImg($event,ImgCropper)" [ratio]="ratio" [imageChangedEvent]="selectImg">
  </app-cropper>
</ng-template>

<ng-template #create>
  <form autocomplete="off" class="row m-0 light-shadow col-4 bg-white">
    <div class="col-12 m-0 row my-2 p-0">
      <div class="col pl-0">
        <label for="name" class="block font-13 mb-0">Name <span class="font-12 text-danger float-right"
            *ngIf="menu.properties.errName">{{menu?.properties?.errName}}</span></label>
        <input id="name" [class.redBorder]="menu.properties.errName" (click)="menu.properties.errName = null"
          class="border w-100 font-14 py-1 px-2" type="text" placeholder="Name"
          [ngModelOptions]="{standalone: true}" [(ngModel)]="menu.properties.name">
        <div class="col-12 text-right py-3 p-0">
          <button type="reset" [disabled]="menu.properties?.btnDisable"
            class="btn bg-white border font-13 radius-0 mr-2">Clear</button>
          <button type="submit" *ngIf="id == 'new'" (click)="beforeCreate(imgProgress)"
            [disabled]="menu.properties?.btnDisable" class="btn bg-clr font-13 text-white radius-0"> Create</button>
          <button type="submit" *ngIf="id != 'new'"
            (click)="menu.properties?.imgUrl.file ? uploadImg(menu.properties?.imgUrl,imgProgress) : update()"
            [disabled]="menu.properties?.btnDisable" class="btn bg-clr font-13 text-white radius-0"> Update</button>
        </div>
      </div>
      <input id="coverImg" type="file" (change)="onSelectImg($event,ImgCropper,{'width':'500px','padding':'10px'})"
        class="display-0">
      <label *ngIf="!menu?.properties?.imgUrl" for="coverImg" class="text-center pointer m-0 font-14 pointer mt-2"
        style="border:1px dashed #0000006b;height: 110px; padding: 44px 5px 44px 5px; width: 110px;">
        cover image
        <i class="fa fa-plus"></i>
      </label>
      <label for="coverImg" class="pointer mt-2" *ngIf="menu.properties?.imgUrl">
        <img [src]="menu.properties?.imgUrl?.base64 ? menu.properties?.imgUrl.base64 : menu.properties?.imgUrl "
          width="110px" alt="">
      </label>
    </div>
  </form>
</ng-template>

<ng-template #detail>
  <div class="p-2 rounded position-relative col-3">
    <div class="card light-shadow border-0">
      <img class="card-img-top" [src]="menu.properties?.imgUrl" alt="Card image cap">
      <div class="card-body p-2 text-right">
        <span class="card-title m-0 float-left font-14 mt-1">{{menu.properties?.name}}</span>
        <button  [disabled]="menu.properties?.btnDisable" matTooltip="Edit" mat-icon-button (click)="temp = 'create'"
          class="outline-0 text-muted l-h-n h-w pointer">
          <i class="fa fa-pencil"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="p-2 rounded position-relative col-9 p-2">
    <div class="light-shadow bg-white w-100">
      <app-menu-items [menuId]="id" ></app-menu-items>
    </div>
  </div>
</ng-template>

<ng-template #imgProgress>
  <div class="row m-0">
    <div class="m-2 position-relative" style="height:110px"
      *ngFor="let item of cropperService?.uploader?.queue;let i = index">
      <img height="110px" imgPreview src [image]="item?._file" alt="">
      <div *ngIf="cropperService?.uploader?.queue?.length" style="background-color: #0000007a;"
        [ngStyle]="{'width':item?.progress+'%'}"
        class="progress radius-0 transition h-100 position-absolute top-0 left-0">
      </div>
      <span style="left: 40%; top: 34%;" class="position-absolute text-light">{{item?.progress+'%'}}</span>
    </div>
  </div>
</ng-template>

<app-dialog [temps]="temps"></app-dialog>